.kontakt-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
    margin: 1rem;
    color: darkgreen;       
}

h1 {
    color: whitesmoke;
}

.kontakt-polje {
    flex: 2;
    background-color: antiquewhite;
    padding: 1rem;
    border-top-left-radius: 5px;
    
    & .ime-prezime, .email, .phone {
        width: 30vw;
        accent-color: dimgrey;
        padding: 0.5rem;
        border-radius: 5px;
        margin: 1rem;
        font-size: 1.1rem;
    }
    & input[type=checkbox] {
        transform: scale(1.5);
        accent-color: darkgreen;
        margin: 10px;
    }

    & textarea {
        width: 30vw;
        resize: none;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    & button {
        background-color: lightseagreen;
        padding: 0.5rem 2rem;
        font-size: larger;
    }
    & button:hover{
        background-color: orange;
    }
}

.kontakt-info {
    background-color: lightskyblue;
    flex: 1;
    border-top-right-radius: 5px;
    padding: 1rem;
    font-size: larger;
}