.placanje-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  color: darkgreen;
}

.adresa-polje {
  flex: 2;
  background-color: white;
  padding: 1rem;
  border-top-left-radius: 5px;

  & .ime,
  .prezime,
  .email,
  .phone,
  .ulica,
  .kucniBroj,
  .grad,
  .postanskiBroj,
  .drzava {
    width: 20vw;
    accent-color: dimgrey;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  & input[type="checkbox"] {
    transform: scale(1.5);
    accent-color: darkgreen;
    margin: 10px;
  }

  & textarea {
    width: 30vw;
    resize: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  & button {
    background-color: lightseagreen;
    padding: 0.5rem 2rem;
    font-size: larger;
  }
  & button:hover {
    background-color: orange;
  }
}

.placanje-sidebar {
  flex: 1;
  padding: 0.5rem 0.2rem;
  margin: 0rem 0.2rem;

  & Table {
    background-color: white;
    width: 100%;
    border: 1px solid darkslategray;
    border-radius: 5px;
    color: darkgreen;
    & th,
    td {
      padding: 1rem;
      border-bottom: 1px solid darkslategrey;
    }
    & .ukupnaCijena {
      text-align: right;
      font-weight: bold;
    }
    & img {
      width: 150px;
      padding: 1rem;
    }
  }

  & .nacin-placanja-polje {
    background-color: white;
    padding: 1rem 0rem;
    margin: 1rem 0rem;

    & .div-forme-placanja {
      text-align: left;
      padding: 0rem 0.5rem;
    }
    & input[type="radio"] {
      transform: scale(1.5);
      accent-color: darkgreen;
      padding: 0.5rem 0.5rem;
      margin: 0.5rem 0.5rem;
    }
  }
  & .button-narucujem {
    width: 30vw;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    background-color: lightseagreen;
  }
  & button:hover {
    background-color: orange;
  }
}

.div-buttoni {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0rem;
  padding: 0.5rem 0.5rem;
  & Button:hover {
    background-color: lightgreen;
  }
}

@media only screen and (max-width: 700px) {
  .placanje-wrapper {
    display: flex;
    flex-direction: column;
  }

  .adresa-polje {
    width: 100%;
    flex: 1;
    padding: 0.5rem;
    border-top-left-radius: 5px;

    & .ime,
    .prezime,
    .email,
    .phone,
    .ulica,
    .kucniBroj,
    .grad,
    .postanskiBroj,
    .drzava,
    textarea {
      width: 90%;
    }
  }

  .placanje-sidebar {
    width: 100%;
    flex: 1;
    margin: 1rem 0.5rem;
  }
}
