      
        header {width: 100%; display: flex; flex-direction: column; flex-wrap: wrap; 
            background-color: orange; font-family: Verdana; font-size: smaller;
            border-bottom: 1px solid grey; border-right: 1px solid grey;
        border-radius: 5px;   }

            section {width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;
                flex: 1 1 auto; padding-top: 0px 1px; margin: 0px 1px;
                }                 
                 .head1 {justify-content: flex-end; height: 15%; padding-top: 2vh;}
                 .head2 {justify-content: space-around; height: 84%;}
            div {text-align: center; flex-wrap: wrap; align-items: center;}

            .head1 > div {padding-right: 1.5vw;}
            .div-Logo {padding-bottom: 2rem;}           
            #logo {transition-property: all; transition-duration: 2s; transition-timing-function:ease; padding: 0.5rem;}
            #logo:hover {background-color: darkslategrey; border-radius: 5px;} 
            
            .div-trazilica {display: flex; flex-wrap: wrap;}
            
            #input-header-pretrazi {border: 1px solid darkgreen; width: 15vw; height: 5vh;} 
            #search {margin-top: 2px; padding: 6px; border: none; border-top-right-radius: 30%; border-bottom-right-radius: 30%; cursor: pointer;}                                            
            #search:hover {background-color: lightgray;}

            .div-navi {padding: 10px 20px; border-radius: 5px; border-left: 2px solid grey;
                border-bottom: 2px solid grey;} 

            .nav1, .nav2 {text-decoration: none; font-size: 1.1rem; color: darkgreen;} 
            .nav1:hover {text-decoration:underline; color:whitesmoke;}          
           
            #Kosara:hover {opacity: 70%;}    

            .nav2:hover {background-color: lightseagreen; color:white;}
            #Face, #Insta, #Twitt {opacity: 60%;} 
            #Face:hover, #Insta:hover, #Twitt:hover {opacity: 95%;}

            main {margin-top: 10px;}