.div-proizvoda {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.slika-naslov-cijena-kolicina {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  align-items: center;

  & .button-kolicina {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  & .slika-kosarica {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.ukupna-cijena {
  text-align: right;
  padding: 1rem;
}
.buttoni-navigacija {
  margin: 0.5rem;
}
