.div-proizvoda {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slika-naslov-cijena-kolicina {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;

  & .button-kolicina {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

.ukupna-cijena {
  text-align: right;
  padding: 1rem;
}
.buttoni-navigacija {
  margin: 0.5rem;
}
